body{
    margin: 0 auto;
    font-family: 'Poiret One', cursive;
    font-size: 22px;
}

a{
    text-decoration-line: none;
    color: #ff8fe7;
}



nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: #6b345f;
    align-items: center;
}

.blocknav:hover{
    text-shadow: 1px 2px 3px #450d4a;
    padding-top: 4px; 
    transition: 0.2s;
    color: #d89bde
}

.blocknav{
    width: 180px;
    text-align: center;
    transition: 0.2s;
    border: 3px dashed;
    
}

header{
    width: 100%;
    height: 400px;
    background: url(../img/header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-family: 'Cormorant Infant', serif;
    font-size: 27px;
    text-shadow: 2px 0px 3px #6b6b6b;
    color: #30192b
}

.headerbox{
    margin: 50px;
}



header *{
    margin: 0;
}

.info{
    width: 900px;
    margin: 20px auto;
    background-color: #d498c7;
    padding: 20px;
    border-radius: 10px;
    color: #1f0619;
    display: flex;
    
    transition: 0.5s
    
}

.info:hover{
    box-shadow: 1px 2px 3px #b181b5, -2px -1px 3px #b181b5;
    transition: 0.5s
}
.infoleft{
    width: 550px;
    margin-right: 35px; 
}

li{
    list-style: '✿'
}

li:hover{
    list-style: '👉'
}

.katalog{
    width: 900px;
    margin: 0 auto;
    padding:  0 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

.boxcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.imgkatalog{
    width: 250px;
    border-radius: 15px 15px 0 0;
    
    transition: 0.4s;
    
}

.card{
    width: 250px;
    margin: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 3px #4a1b40;
    padding: 0px 0px 20px 0px;
    transition: 0.4s
}

.card:hover{
    box-shadow: 1px 2px 3px #e0a3e5;
    transition: 0.4s;
    
}

.card:hover img{
    filter: opacity(85%) contrast(155%);
    
    transition: 0.4s;
}

.card:hover .btn{
    box-shadow: 1px 1px 3px #b75abf;
    transition: 0.3s;
}

.card h3{
    margin: 15px;
    text-align: center
}

.btn{
    min-width: 100px;
    min-height: 40px;
    background-color: #c97fb9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    padding: 1px;
    
    transition: 0.3s;
}

.galereya{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    background: linear-gradient(180deg, rgba(195,109,185,1) 0%, rgba(235,0,255,0) 100%);
    border-radius: 20px 20px;
    padding: 0 0 80px 0;

}

.imggal{
    width: 300px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    transition: 0.5s;
}

.imggal:hover{
    filter: contrast(135%) brightness(95%);
    transition: 0.5s;
    box-shadow: 1px 2px 3px #8e4b94
    
}

.galbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.otzivi{
    margin: 0 auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    
}

.otzivititle{
    text-align: center;
    margin: 100px 0 20px;
}

.comitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d1a5c8;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    transition: 0.3s
}

.nonmargin{
    margin: 0 0 15px 0;
}

.avatar{
    width: 100px;
    border-radius: 50%;
    margin: 30px;
}

.zakaz{
    margin: 0 auto;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

form{
    display: flex;
    flex-direction: column;
}

input{
    margin: 0px 0px 10px 0px;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 10px #754f6d;
    border-radius: 20px;
    transition: 0.5s;
}

input:hover{
    box-shadow: 0px 0px 10px #d90dad;
    transition: 0.5s;
}

textarea{
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #754f6d;
    resize: none;
    padding: 20px;
    transition: 0.5s;
}

textarea:hover{
    box-shadow: 0px 0px 10px #d90dad;
    transition: 0.5s;
}

footer{
    width: 100%;
    background-color: #2e0625;
    height: 300px;
    margin-top: 50px;
    padding: 50px;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.fotbox{
    width: 400px;
}

button{
    margin-top: 15px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background: #8c2476;
    color: white;
    box-shadow: 0px 0px 10px #754f6d;
    transition: 0.5s;
}

button:hover{
    background: #b02c93;
    transition: 0.5s;
}

.logopanel{
    z-index: 170;
    position: sticky;
    width: 80px;
    height: 0px;
    top: 70%;
    left: 94%;
    
    
}
.logo{
    width: 70px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 0px;
    transition: 0.3s
}

.logopanel a{
    font-size: 16px;
}

.logo:hover{
    box-shadow: 1px 2px 3px #a3799a;
    transition: 0.3s;
    filter: contrast(135%) brightness(95%);
    
}

.comitem:hover{
    box-shadow: 1px 2px 3px #855f7d;
    filter: contrast(135%) brightness(95%);
    transition: 0.3s
}

@media(max-width: 900px){
    body {
overflow-x: hidden;
}
     nav{
        visibility: hidden;
    }
    header{
        height: 250px;
        width: 900px
    
    }
    .headerbox{
        margin: 0;
        font-size: 40px;
    }
    .one{
        margin-top: 20%;
        margin-left: 40%
    }
    
    .two{
        visibility: hidden;
    }
    .info{
        width: 550px;
        flex-direction: column;
    }
    .info p{
        width: 550px;
        
    }
    
    .katalog{
        width: 700px;
    }
    
    .galereya{
        width: 700px;
    }
    
    .otzivi{
        width: 700px;
    }
    
    .otzivititle{
        margin-top: 0px; 
    }
    
    footer{
        flex-direction: column;
        height: 900px;
        width: 900px
       
    }
    
    .fotbox{
        width: 700px
    }
    .zakaz{
        width: 450px
    }
    
    .logopanel{
        visibility: hidden;
    }
}

@media(max-width: 500px){
    nav{
        visibility: hidden;
    }
    
    .one{
        margin: 0;
    }
    
    header{
        height: 200px;
        width: 500px
    
    }
    .headerbox{
        margin: 0;
        font-size: 27px;
        padding-top: 60px;
        padding-left: 150px;
    }
    
    .two{
        visibility: hidden;
    }
    
    .info{
        width: 350px;
        flex-direction: column;
    }
    .info p{
        width: 350px;
        
    }
    
    .katalog{
        width: 400px;
    }
    
    .galereya{
        width: 400px;
    }
    
    .otzivi{
        width: 400px;
    }
    
    .otzivititle{
        margin-top: 0px; 
    }
    
    footer{
        flex-direction: column;
        height: 900px;
        width: 500px
       
    }
    
    .fotbox{
        width: 300px
    }
    .zakaz{
        width: 350px
    }
    
    .logopanel{
        visibility: hidden;
    }
    body {
    overflow-x: hidden;
}
    
}

